@model IEnumerable<DpApiClient.Data.Facility>

@{
    ViewBag.Title = "Facilities";
}

<h2>Facilities</h2>

<table class="table">
    <tr>
        <th>
            Parent facility
        </th>
        <th>
            Facility name
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ParentFacility.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
    </tr>
}

</table>
